.workshop__courses,
.menu__courses {
    h4 {
        font-family: 'Chillax-Regular';
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.6;
        color: #ffffff;
        padding-bottom: 0.6rem;
    }

    p {
        font-family: 'Chillax-Regular';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.6;
        color: #7B7A7A;
    }

    img {
        display: inline-block;
        margin-left: 1.5rem;
        width: 1.2rem;
    }
}