.menu__img,
.shop__img,
.blog__img {
    width: 50vw;
    height: 100vh;
    display: none;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 39.93em) {

    .menu__img,
    .shop__img,
    .blog__img {
        width: 100%;
    }
}