.footer__row {
    h4 {
        font-family: 'Chillax-Regular';
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.8;
        color: #ffffff;
        padding-bottom: 3.2rem;
    }

    a {
        display: block;
        font-family: 'Chillax-Regular';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.6;
        color: #9A9B9B;
        padding-bottom: 1.8rem;
        transition: color .2s ease;

        &:hover {
            color: #FACE8D;
        }
    }
}