.title-fixed {
    width: 49.45vw !important;
    left: 0 !important;
    top: 45% !important;
    transform: translate(0, -50%) !important;
    position: fixed !important;
}

@media screen and (max-width: 39.93em) {
    .title-fixed {
        width: 100vw !important;
        position: absolute !important;
    }
}