.title3 {
    font-family: 'Bitter Rose DEMO';
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 70%;
    color: #FACE8D;
    user-select: none;
    letter-spacing: .03em;
    padding-bottom: 3.2rem;
}