.titledesc {
    font-family: 'Chillax-Regular';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 160%;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 60rem;
    color: #FFFFFF;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 48em) {
    .titledesc {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 36em) {
    .titledesc {
        font-size: 2rem;
    }
}