.title {
    text-align: center;
    font-family: 'Bitter Rose DEMO';
    font-weight: 400;
    font-size: 8rem;
    line-height: 90%;
    color: #FACE8D;
    user-select: none;
    letter-spacing: .02em;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        font-family: 'Chillax-Medium';
        font-weight: 500;
        font-size: 16rem;
        line-height: .9;
        color: #FFFFFF;
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 48em) {
    .title {
        font-size: 7.3rem;
        letter-spacing: 0em;


        span {
            font-size: 15rem;
            letter-spacing: -0.03em;
        }
    }
}

@media only screen and (max-width: 36em) {
    .title {
        font-size: 5rem;
        letter-spacing: 0em;


        span {
            font-size: 10rem;
            letter-spacing: -0.03em;
        }
    }
}