.book__cost {
    font-family: 'Chillax-Medium';
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: #FFFFFF;
    position: relative;
    display: grid;
    align-content: center;
}