.details__answer {
    font-family: 'Chillax-Regular';
    text-align: right;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: #CCCDCD;
    position: relative;
    flex-grow: 50%;
    position: relative;

    & span:first-child {
        display: block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: -5rem;
        transform: translate(0, -50%);
        flex-shrink: 0;

        & img {
            object-fit: contain;
            border-radius: 50%;
        }
    }
}