.details__question {
    font-family: 'Chillax-Medium';
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: #FFFFFF;
    position: relative;
    flex-grow: 50%;
}