.workshop__logo,
.blog-article__logo {
    position: absolute;
    width: 100%;
    z-index: 4;
    height: 9.3rem;
    user-select: none;
    top: 6.4rem;
    left: 50%;
    transform: translate(-50%, 0);

    a {
        display: block;
        font-family: 'Chillax-Medium';
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 90%;
        color: #FFFFFF;
        text-align: center;
    }
}

@media screen and (max-width: 39.93em) {

    .workshop__logo,
    .blog-article__logo {
        position: absolute;
        top: 6.4rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
}