.workshop__logo,
.blog-article__logo {
    width: 10rem;
    position: absolute;
    z-index: 4;
    height: 9.3rem;
    user-select: none;
    top: 6.4rem;
    left: 50%;
    transform: translate(-50%, 0);

    a {
        display: block;
        font-family: 'Chillax-Medium';
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 90%;
        color: #FFFFFF;
    }
}