.menuup__sticky {
    height: 15.5rem;
    position: fixed !important;
    background: linear-gradient(to bottom, #020405, #020405, transparent);
    width: 50vw;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 39.93em) {
    .menuup__sticky {
        width: 100vw;
    }
}