.menuup__items {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: 0 2.4rem 0 2.4rem;
        text-decoration: none;
        scroll-behavior: smooth;
        display: block;
        font-family: 'Chillax-Regular';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
        color: #CCCDCD;
        flex-shrink: 0;
        cursor: pointer;
        transition: color .2s ease;
    }

    a:hover {
        color: #FACE8D;
    }
}