extends layout/app

block page

    include chunk/header

    include chunk/navigation

    section.section.hero
        h1.title The pure taste of <br>
            span Thailand
            p.titledesc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

        .mouse
            .mouse__roller
            .mouse__dummy

    include chunk/restaurant

    .fixed.index
        img(src="img/main.avif", alt="bg")

    .fixed.menu__img
        img(src="img/menu.jpg", alt="menu")

    include chunk/menu

    include chunk/classes

    .fixed.shop__img.shop__index
        img(src="img/gift.jpg", alt="shop")

    include chunk/shop

    .fixed.blog__img.blog__index
        img(src="img/blog.jpg", alt="blog")

    include chunk/blog

    include chunk/contact

    include chunk/footer

    script(src="js/main.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")