.bookatable__wrap {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #020405;
}

@media screen and (max-width: 39.93em) {
    .bookatable__wrap {
        display: block;
    }
}