.topper__article {
    font-family: 'Chillax-Regular';
    font-weight: 400;
    font-size: 2rem;
    color: #CCCDCD;
    line-height: 1.6;
    letter-spacing: 0;
}

@media only screen and (max-width: 48em) {
    .topper__article {
        font-size: 1.6rem;
    }
}