section.section.classes(id="classes")
    .classes__dummy

    .swiper.myswiper2
        .swiper-wrapper
            a(href="asian.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Asian<br>
                        span Delicious Breakfast
                    
                    h3.description.classes__desc June 16, 2023

                img(src="img/class5.jpg", alt="Delicious Breakfast")

            a(href="breakfast.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Breakfast<br>
                        span Coffee Time
                    
                    h3.description.classes__desc March 17, 2023

                img(src="img/class4.jpg", alt="Coffee Time")

            a(href="vegan.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Vegan<br>
                        span Vegan Burger
                    
                    h3.description.classes__desc January 10, 2023

                img(src="img/class3.jpg", alt="Vegan Burger")

            a(href="italian1.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Italian<br>
                        span Salad Style
                    
                    h3.description.classes__desc November 19, 2022

                img(src="img/class2.jpg", alt="Salad Style")

            a(href="italian2.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Italian<br>
                        span Homemade Honey
                    
                    h3.description.classes__desc October 8, 2022

                img(src="img/class1.jpg", alt="Homemade Honey")

            a(href="asian.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Asian<br>
                        span Delicious Breakfast
                    
                    h3.description.classes__desc June 16, 2023

                img(src="img/class5.jpg", alt="Delicious Breakfast")

            a(href="breakfast.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Breakfast<br>
                        span Coffee Time
                    
                    h3.description.classes__desc March 17, 2023

                img(src="img/class4.jpg", alt="Coffee Time")

            a(href="vegan.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Vegan<br>
                        span Vegan Burger
                    
                    h3.description.classes__desc January 10, 2023

                img(src="img/class3.jpg", alt="Vegan Burger")

            a(href="italian1.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Italian<br>
                        span Salad Style
                    
                    h3.description.classes__desc November 19, 2022

                img(src="img/class2.jpg", alt="Salad Style")

            a(href="italian2.html").swiper-slide.myswiper2__slide
                .classes__title
                    h2.subtitle.classes__subtitle Italian<br>
                        span Homemade Honey
                    
                    h3.description.classes__desc October 8, 2022

                img(src="img/class1.jpg", alt="Homemade Honey")

    .classes__dummy2