footer.footer
    .wrapper
        .left
                
        .right
            .footer__wrapper
                .footer__row
                    .footer__padding
                        a(href="#", title="main") nique.

                nav.footer__row
                    h4 Pages
                    a(href="index.html#menu_dummy") Menu
                    a(href="index.html#restaurant_dummy") Restaurant
                    a(href="index.html#classes") Classes
                    a Book a Table
                    a Contact 
                    a Blog 
                    a Workshop

                nav.footer__row 
                    h4 Utility Pages 
                    a Styleguide 
                    a Licensing 
                    a Cangelog 
                    a 404 Page 
                    a Password Protected