footer.footer
    .wrapper
        .left
                
        .right
            .footer__wrapper
                a(href="#").footer__logo nique.

                nav.footer__row
                    h4 Pages
                    a(href="index.html#menu_dummy") Menu
                    a(href="index.html#restaurant_dummy") Restaurant
                    a(href="index.html#classes") Classes
                    a(href="bookatable.html") Book a Table
                    a(href="index.html#contact_dummy") Contact
                    a(href="index.html#blog_dummy") Blog 
                    a(href="index.html#shop_dummy") Shop

                nav.footer__row 
                    h4 Utility Pages 
                    a Styleguide 
                    a Licensing 
                    a Cangelog 
                    a 404 Page 
                    a Password Protected