section.section.restaurant
    .restaurant__dummy(id="restaurant_dummy")
    h2.title.title__restaurant(id="restaurant") Discover<br>
        span(id="restaurant-span") nique.

    .swiper.myswiper
        .swiper-wrapper
            .swiper-slide.myswiper__slide
                img(src="img/image07.jpg", alt="image07")
            .swiper-slide.myswiper__slide
                img(src="img/image02.jpg", alt="image02")
            .swiper-slide.myswiper__slide
                img(src="img/image01.jpg", alt="image01")
            .swiper-slide.myswiper__slide
                img(src="img/image04.jpg", alt="image04")
            .swiper-slide.myswiper__slide
                img(src="img/image05.jpg", alt="image05")
            .swiper-slide.myswiper__slide
                img(src="img/image06.jpg", alt="image06")
            .swiper-slide.myswiper__slide
                img(src="img/image03.jpg", alt="image03")
            .swiper-slide.myswiper__slide
                img(src="img/image07.jpg", alt="image07")
            .swiper-slide.myswiper__slide
                img(src="img/image02.jpg", alt="image02")
            .swiper-slide.myswiper__slide
                img(src="img/image01.jpg", alt="image01")
            .swiper-slide.myswiper__slide
                img(src="img/image04.jpg", alt="image04")
            .swiper-slide.myswiper__slide
                img(src="img/image05.jpg", alt="image05")
            .swiper-slide.myswiper__slide
                img(src="img/image06.jpg", alt="image06")
            .swiper-slide.myswiper__slide
                img(src="img/image03.jpg", alt="image03")