.blog__image {
    display: block;
    width: 28rem;
    height: 21rem;
    flex-shrink: 0;
    clip-path: border-box;

    & img {
        border-radius: 1.5rem;
        transition: all .3s ease-in;
    }
}

@media only screen and (max-width: 64em) {
    .blog__image {
        width: 22rem;
        height: 16rem;
        object-fit: cover;
    }
}

@media only screen and (max-width: 24.37em) {
    .blog__image {
        margin: 0 auto;
        width: 28rem;
        height: 21rem;
    }
}